.footer {
  font-family: "Imperial Script", cursive;
  font-size: 32px;
  background: linear-gradient(135deg, #e89ab0, #450920);
  color: #fff;
  padding: 20px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
  text-decoration: none;
  margin: 5px 0;
  transition: 0.2s;
}

.footer-section a:hover {
  color: #fff;
}
